---
exthead: true
---

{% remote_include https://dashboard.yeahgames.net/api/static/html/declarations.html %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{page.permalink | remove: '/'}}'s yEAh Network profile.">
  <meta property="og:description" content="{{page.permalink | remove: '/'}}'s yEAh Network profile." />
  <meta property="og:site_name" content="yEAh Member Profiles" />
  <meta name="msapplication-TileColor" content="#ff4747">
  <meta name="theme-color" content="#ff4747">
  <link rel="canonical" href="https://members.yeahgames.net{{page.permalink}}">
  <title>{{page.permalink | remove: '/'}}'s profile | yEAh Accounts</title>

  {% if page.permalink == "/@undone" %}
  <!--This user is a React developer-->
  {% endif %}

  {% remote_include https://dashboard.yeahgames.net/api/static/html/head.html %}

  {% remote_include https://dashboard.yeahgames.net/api/static/html/top.html %}

  {% remote_include https://dashboard.yeahgames.net/api/static/html/nav.html %}
  
  {% remote_include https://dashboard.yeahgames.net/api/static/html/sidebar.html %}

    <div {% remote_include https://dashboard.yeahgames.net/api/static/html/attributes/main.html %}>
      <main>

        <div
          class="pfcard xCPtuxM4_gihvpPwv9bX Nu4HUn5EQpnNJ1itNkrd RZmKBZs1E1eXw8vkE6jY mlwbuv_bMkMhzTA3msA3 sIk4Wc5VFaQpncPF5Sx4 AWLGIryfLKwkSeUZd4O6"
          style="padding-top:0rem !important;  width: 400px;
          border-color: #ff4747 !important;right:auto+calc(-5em);
          border-width: 2px;box-shadow: 0 0 40px rgba(255,71,71);margin-bottom: 215px !important;"
          alt="yEAh member profile.">
          <div class="EWLTGduHCjFnjN6tLCXV hD0sTTDgbxakubcHVW2X QzGxlDe4W0Kn6V1Dkd6r">


          </div>
          <!-- Right Content -->
          <div style="width:350px" class="EWLTGduHCjFnjN6tLCXV Atl0coQVHTfJeIp5DBNr">
            <div
              class="_wYiJGbRZyFZeCc8y7Sf hD0sTTDgbxakubcHVW2X _Ybd3WwuTVljUT4vEaM3 mveJTCIb2WII7J4sY22F mngKhi_Rv06PF57lblDI _YxZw_O8dWkTljptcO7z SWDELhWFjL8JxEtm91_o _1jTZ8KXRZul60S6czNi">
              <div class="rvdRhGyExrNYTA6euxsF xu6Xcz2CnxX04u4eQAne SQf297smyJVNzzOO3iQL LvH1cgobxEYMRPVAp8WW">
                <img class="TR_P65x9ie7j6uxFo_Cs XO0Hd72IH1CH2AVjcbWM v2F5G_Fm6X1wxdNJdQlJ mveJTCIb2WII7J4sY22F"
                  src="https://ugc.yeahgames.net/profile/p/default/png/{{page.url|replace:'.html',''}}.png"
                  onerror="this.onerror=null; this.src='https://ugc.yeahgames.net/profile/p/default/png/default.png';">
                <div>
                  <h2 class="vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj OyABRrnTV_kvHV7dJ0uE"><span
                      id="profileName">{{page.url|replace:'html',''|remove:'/'|remove:'@'}}</span>&#160;<span
                      id="profileAdmin" style="display: inline-block !important;
                    vertical-align: text-top;"></span></h2>

                  <h3 id="profileUsername" style="font-size:14px;color:#ff4747;padding-bottom:0.3em">
                    {{page.url|replace:'html',''|remove:'/'}}</h3>
                  <ul class="gC_jEY75u_oxfOOKnLpH wezTbYJgxYJp5ZDqX67N">
                    <li
                      class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
                      <svg
                        class="fhCwost7CSNRc2WSHLFW E9GV5sZJIbfO_GEQ_moc _o2IXcpM0qnG3JPReKus __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <span id="profileLocation">Ottawa</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="rvdRhGyExrNYTA6euxsF xu6Xcz2CnxX04u4eQAne seNju9ak6k60nJPVDVyn">
                <div class="HD0QRNT3lUqWQhXP5VK8">
                  <address
                    class="c8dCx6gnV43hTOLV6ks5 yo0GKAXAsUDIWsazc10y _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
                    <div class="XJih04pKHf8Cekga6Hj3">
                      Email address
                    </div>
                    <div id="profileEmail"><span id="defaultEmail" style="color:#fff">None provided</span></div>

                    <div class="XJih04pKHf8Cekga6Hj3">
                      Homepage
                    </div>
                    <div
                      class="TR_P65x9ie7j6uxFo_Cs c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE"
                      id="profileWebsite">None provided
                    </div>
                  </address>
                </div>
                
              </div>

            </div>

            <div style="display:none!important"
              class="_wYiJGbRZyFZeCc8y7Sf hD0sTTDgbxakubcHVW2X _Ybd3WwuTVljUT4vEaM3 mveJTCIb2WII7J4sY22F mngKhi_Rv06PF57lblDI _YxZw_O8dWkTljptcO7z SWDELhWFjL8JxEtm91_o _1jTZ8KXRZul60S6czNi">
              <div class="FF0B1uH_gtoM9lki9mia">
                <h3 class="vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj OyABRrnTV_kvHV7dJ0uE">Skills</h3>
                <ul class="YRrCJSr_j5nopfm4duUc hP1M5IgfjJiY8_B1VUN1 XJih04pKHf8Cekga6Hj3">
                  <li
                    class="Dnqe3vvw22y12_oWDYvR LNUrv_nGG839SRkGqY8B UptwuMAvsdRjvAaYNP6r d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe _Cj_M6jt2eLjDgkBBNgI Qkdk47eO_FsOcXfaC9zb W5n_NSFnC6y2nqoHw_5x TR_P65x9ie7j6uxFo_Cs fhCwost7CSNRc2WSHLFW">
                    Brand Design</li>
                  <li
                    class="Dnqe3vvw22y12_oWDYvR LNUrv_nGG839SRkGqY8B UptwuMAvsdRjvAaYNP6r d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe _Cj_M6jt2eLjDgkBBNgI Qkdk47eO_FsOcXfaC9zb W5n_NSFnC6y2nqoHw_5x TR_P65x9ie7j6uxFo_Cs fhCwost7CSNRc2WSHLFW">
                    Logo Design</li>
                  <li
                    class="Dnqe3vvw22y12_oWDYvR LNUrv_nGG839SRkGqY8B UptwuMAvsdRjvAaYNP6r d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe _Cj_M6jt2eLjDgkBBNgI Qkdk47eO_FsOcXfaC9zb W5n_NSFnC6y2nqoHw_5x TR_P65x9ie7j6uxFo_Cs fhCwost7CSNRc2WSHLFW">
                    Mobile App Design</li>
                  <li
                    class="Dnqe3vvw22y12_oWDYvR LNUrv_nGG839SRkGqY8B UptwuMAvsdRjvAaYNP6r d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe _Cj_M6jt2eLjDgkBBNgI Qkdk47eO_FsOcXfaC9zb W5n_NSFnC6y2nqoHw_5x TR_P65x9ie7j6uxFo_Cs fhCwost7CSNRc2WSHLFW">
                    UI Design</li>
                  <li
                    class="Dnqe3vvw22y12_oWDYvR LNUrv_nGG839SRkGqY8B UptwuMAvsdRjvAaYNP6r d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe _Cj_M6jt2eLjDgkBBNgI Qkdk47eO_FsOcXfaC9zb W5n_NSFnC6y2nqoHw_5x TR_P65x9ie7j6uxFo_Cs fhCwost7CSNRc2WSHLFW">
                    React Developer</li>
                  <li
                    class="Dnqe3vvw22y12_oWDYvR LNUrv_nGG839SRkGqY8B UptwuMAvsdRjvAaYNP6r d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe _Cj_M6jt2eLjDgkBBNgI Qkdk47eO_FsOcXfaC9zb W5n_NSFnC6y2nqoHw_5x TR_P65x9ie7j6uxFo_Cs fhCwost7CSNRc2WSHLFW">
                    Wordpress</li>
                  <li
                    class="Dnqe3vvw22y12_oWDYvR LNUrv_nGG839SRkGqY8B UptwuMAvsdRjvAaYNP6r d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe _Cj_M6jt2eLjDgkBBNgI Qkdk47eO_FsOcXfaC9zb W5n_NSFnC6y2nqoHw_5x TR_P65x9ie7j6uxFo_Cs fhCwost7CSNRc2WSHLFW">
                    Sketch</li>
                  <li
                    class="Dnqe3vvw22y12_oWDYvR LNUrv_nGG839SRkGqY8B UptwuMAvsdRjvAaYNP6r d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe _Cj_M6jt2eLjDgkBBNgI Qkdk47eO_FsOcXfaC9zb W5n_NSFnC6y2nqoHw_5x TR_P65x9ie7j6uxFo_Cs fhCwost7CSNRc2WSHLFW">
                    Figma</li>
                  <li
                    class="Dnqe3vvw22y12_oWDYvR LNUrv_nGG839SRkGqY8B UptwuMAvsdRjvAaYNP6r d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe _Cj_M6jt2eLjDgkBBNgI Qkdk47eO_FsOcXfaC9zb W5n_NSFnC6y2nqoHw_5x TR_P65x9ie7j6uxFo_Cs fhCwost7CSNRc2WSHLFW">
                    Prototyping</li>
                  <li
                    class="Dnqe3vvw22y12_oWDYvR LNUrv_nGG839SRkGqY8B UptwuMAvsdRjvAaYNP6r d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe _Cj_M6jt2eLjDgkBBNgI Qkdk47eO_FsOcXfaC9zb W5n_NSFnC6y2nqoHw_5x TR_P65x9ie7j6uxFo_Cs">
                    Database</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="NM7Z1HBVjN_86WhEcXan" style="display:none!important">
            <div
              class="_wYiJGbRZyFZeCc8y7Sf hD0sTTDgbxakubcHVW2X _Ybd3WwuTVljUT4vEaM3 mveJTCIb2WII7J4sY22F mngKhi_Rv06PF57lblDI _YxZw_O8dWkTljptcO7z SWDELhWFjL8JxEtm91_o _1jTZ8KXRZul60S6czNi">

              <dl
                class="xCPtuxM4_gihvpPwv9bX Nu4HUn5EQpnNJ1itNkrd bNuwEJVjy8l4O1aX1zho cvkpv2bmXbOtb62ppyJC AqVNvLG_H6VHhym2yKMp">
                <div class="wwofGIyK_H_z3Xjelq8G">
                  <dt class="y0nOgdpiqOUaFDbjAxwD ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">About
                    me</dt>
                  <dd
                    class="iRFVFKvV59EjIwjCM62m tI6ZVpHcCWxY_MKHSQWC DSinOeYMF_Gmwu9gOltI c8dCx6gnV43hTOLV6ks5 PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
                    <p id="profileAbout"></p>
                  </dd>
                </div>
                <div>
                  <dt class="c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
                    Education</dt>
                  <dd class="c8dCx6gnV43hTOLV6ks5 yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Thomas
                    Jeff High School, Stanford University</dd>
                </div>
                <div>
                  <dt class="c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">Work
                    History</dt>
                  <dd class="c8dCx6gnV43hTOLV6ks5 yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                    Twitch, Google, Apple</dd>
                </div>
                <div>
                  <dt class="c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">Join
                    Date</dt>
                  <dd class="c8dCx6gnV43hTOLV6ks5 yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                    {{page.joindate}} </dd>
                </div>
                <div>
                  <dt class="c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
                    Languages</dt>
                  <dd class="c8dCx6gnV43hTOLV6ks5 yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                    English, German, Italian, Spanish </dd>
                </div>
                <div>
                  <dt class="c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
                    Organization</dt>
                  <dd class="c8dCx6gnV43hTOLV6ks5 yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                    Themesberg LLC </dd>
                </div>
                <div>
                  <dt class="c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">Role
                  </dt>
                  <dd class="c8dCx6gnV43hTOLV6ks5 yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                    Graphic Designer</dd>
                </div>
                <div>
                  <dt class="c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
                    Department</dt>
                  <dd class="c8dCx6gnV43hTOLV6ks5 yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                    Marketing</dd>
                </div>
                <div>
                  <dt class="c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
                    Birthday</dt>
                  <dd class="c8dCx6gnV43hTOLV6ks5 yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                    15-08-1990 </dd>
                </div>
              </dl>
            </div>

          </div>

        </div>

      </main>
    </div>

    <script src="/scripts/getprofile.js"></script>

    {% remote_include https://dashboard.yeahgames.net/api/static/html/bottom.html %}